.tools-bar {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row-reverse;
  .button-list {
    font-size: 0;
    >.el-input {
      display: inline-block;
      width: 200px;
      vertical-align: middle;
    }
    >.el-select {
      display: inline-block;
      width: 150px;
      vertical-align: middle;
      margin-right: 20px;
    }
    >button {
      margin-left: 20px;
      vertical-align: middle;
    }
    .el-date-editor.el-input, .el-date-editor.el-input__inner{
      width: 370px;
      vertical-align: middle;
    }
    .option-title{
      margin-left: 20px;
      font-size: 14px;
      vertical-align: middle;
    }
  }
}

.table-wrap {
  .button-list {
    font-size: 0;
    .el-button {
      margin: 5px 10px 5px 0;
      padding: 5px;
      i {
        margin-right: 2px;
        font-size: 16px;
      }
    }
  }
}

.el-pagination {
  float: right;
  margin: 10px 0;
}

.table-expand {
  font-size: 0;
  label {
    // width: 90px;
    color: #99a9bf;
  }
  .el-form-item {
    margin-right: 0;
    margin-bottom: 0;
    width: 50%;
  }
}

/* 编辑/详情页面  居中 */
.editWrapper-center{
  width: 80%;
  margin: 40px auto 0;
  .el-form-item{
    margin-bottom: 12px;
  }
  label {
    color: #99a9bf;
  }
  span {
    color: #333;
  }
  .btnWrapper{
    text-align: center;
    margin-top: 22px;
    span{
      color: #fff;
    }
  }
}

/* 图片上传 */
.avatar-uploader {
  .el-upload{
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .el-upload:hover {
    border-color: #409EFF;
  }
}
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 158px;
  height: 158px;
  line-height: 158px;
  text-align: center;
}
.avatar {
  width: 158px;
  height: 158px;
  display: block;
}

/* 编辑图片上传 */
.uploadWrapper{
  .small-tip{
    font-size: 12px;
    color: #999;
  }
  .el-form-item__content{
    line-height: 20px;
  }
}
